
.logoImage{
	width: 26%;
	height: auto;
	margin-top: 11px;
	
}

/* This is the selector i used for my menu, it needs to be set as position:absolute; */
.subMenu {
	position: absolute;
	top: 105px;
	z-index: 1000;
	width: 99.9%;
	background-color: #838c75;
}

/* ------------SECTIONS------------ */
#topLeftArt {
	position:relative;
	top:-5px;
}

.logoContainer { 
	text-align: center;
	position: relative;
	left: -216px;
}

.topBolts {
	left: 191px;
	top: -28px;
	position: relative;
}

.navBolt1 {
	position: relative;
	top: 88px;
	left: -167px;
	z-index: 1001;
	float: left;
}

.navBolt2 {
	position: relative;
	top: -30px;
	left: 821px;
	z-index: 1001;
}

#topRightArt {
	position: relative;
	top: -122px;
	float: right;
}

#topRightArt img {
	float: right;
}

.homeButton {
	padding: 5px 0px 12px 0px;
	background-color: #00adef;
	height: 97px;
}

.storyButton {
	min-height: 500px;
	background-color: #fbee3c;
	margin-top: 101px;
}

.playButton {
	min-height: 500px;
	background-color: #fbee3c;
}


.makeButton {
	min-height: 500px;
	background: #504f4f;
}


.factsButton {
	min-height: 500px;
	background: #6e87a1;
	color: white;
}

.grownupsButton {
	min-height: 500px;
	background: #293b4d;
	color: white;
}

/* ---------GLOBAL--------------- */
body {
	font-family: 'Nunito', sans-serif;
	font-weight: 100;
	font-size: 1.125em;
	/*color: #faf3bc;*/
	background: #838c75;
}

a {
	color: #000;
	text-decoration: none;
}

img, object {
	max-width: 100%;
}

/* -------TYPOGRAPHY----------- */
h1 {
	font-size: 1.750em;
	font-weight: 100;
	letter-spacing: -1.5px;
}

h2 {
	font-weight: 100;
	font-size: 1.500em;
	color: #b4c34f;
}

h3 {
	font-weight: 100;
	font-size: 1.125em;
	color: #ed6c85;
}

/* -------BUTTONS------------- */
#nav {
	background-color: #838c75;
	height: 121px;
	margin-top: -11px;
	padding-left: 285px;
	padding-right: 359px;
	background: url('img/top_nav_bg_scaled.png') no-repeat;
}	

#nav ul {
	width: 100%;
	margin: 0% 0 2% 0;
	list-style: none;
	float: none;
	text-align: center;
}

.navLeftNotch {
	left: -285px;
	top: 31px;
	position: relative;
	float: left;
}

.navRightNotch {
	float: right;
	position: relative;
	top: -81px;
	left: 358px;
}
	
#nav ul li {
	float: left;
	}
	#nav ul li.home {
		width: 16%;
		margin-top: 15px;
	}
	#nav ul li.story {
		width: 16%;
		margin-top: 15px;
	}
	#nav ul li.play {
		width: 16%;
		margin-top: 15px;
	}
	#nav ul li.make {
		width: 16%;
		margin-top: 15px;
	}
	#nav ul li.facts {
		width: 16%;
		margin-top: 15px;
	}
	#nav ul li.grownups {
		width: 16%;
		margin-top: 15px;
	}

#nav ul li a {
	display: block;
	text-decoration: none;
}
	

/* ----------CONTENT------------- */

#intro {
	margin: 0 0 5% 0;
}

#logo {
	text-align:center;
}

.clear {
	clear: both;
}

.leftSidebar {
	width: 10%;
	height: 1000px;
	float: left;
	background-color: #838c75;
	position: fixed;
	top: 214px;
	z-index: 1000;
}

.mainWrapper {
	width: 80%;
	margin: auto;
	background-image:url('img/tilable_swiss_cheese.png');
	background-repeat:repeat;
}

.rightSidebar {
	width: 10%;
	height: 1000px;
	float: right;
	background-color: #838c75;
	position: fixed;
	right: 0px;
	top: 214px;
	z-index: 1000;
}

.section {
	width: 100%;
	z-index: 10;
	position: relative;
	
}

#leftNotches{
	display: none;
}
#rightNotches{
	display: none; 
}

#contentContainer{
	height: 965px;
	margin-left: 31px;
}

#name1_box, #name2_box, #name3_box, #name4_box, #name5_box, #name6_box{
	height: 250px;
	background:url('img/story_frame.png');
	background-repeat: no-repeat;
	background-position:center; 
}
#name1_box p, #name2_box p, #name3_box p, #name4_box p, #name5_box p, #name6_box p{
	text-align: center;
	margin-top: 105px;
}

#box1, #box2, #box3, #box4, #box5, #box6{
	text-align:center;
	height: 300px;
	border: 1px solid black;
}

#copyright {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 75px;
	width: 100%;
	background: #f16022;
	text-align: center;
	z-index: 1000;
	background-image: url('img/footer_etching.png') no-repeat;
	
}

.characterImg {
	position: fixed;
	bottom: 71px;
}

.machineImg {
	position: fixed;
	bottom: -10px;
	right: 0px;
}

.contestImg{
	float:left;
}

.socialButtons{
	position: fixed;
	bottom: 7px;
	right: 11px;
}

.fbicon{
	padding-bottom:9px;
}

.bottomMenu {
	padding: 8px 159px 0px 0px;
}

.bottomMenu li{
	display: inline;
	margin-left:5px;
}

/* ----------------------------MEDIA QUERIES---------------------------- */

/* Larger --------------------------------------- */
@media screen and (max-width: 1024px) {

.logoImage{
	height: auto;
	margin-top: 11px;
	margin-right: -26px;
}

#topLeftArt {
	position:relative;
	top:-5px;
}

.logoContainer {
	text-align: center;
	position: relative;
	left: -171px;
}

.topBolts {
	left: 166px;
	top: -28px;
	position: relative;
	width: 68%;
}

#topRightArt {
	position: relative;
	top: -114px;
	float: right;
}

/*navigation*/
#nav {
	width: 50.1%;
	padding-left: 154px;
	color: #838c75;
}
#nav ul {
	margin: 0 0 0 70px;
}

.navLeftNotch {
	left: -154px;
	top: 31px;
	position: relative;
	float: left;
}

.navRightNotch {
	float: right;
	position: relative;
	top: -81px;
	right: 0px;
}
	

#nav ul li {
	float: left;
	margin: 0% 0 0 0;
	}
	#nav ul li.home {
		width: 16.5%;
	}
	#nav ul li.story {
		width: 16.5%;
	}
	#nav ul li.play {
		width: 16.5%;
	}
	#nav ul li.make {
		width: 16.5%;
	}
	#nav ul li.facts {
		width: 16.5%;
	}
	#nav ul li.grownups {
		width: 16.5%;
	}
}

#homeButton{
	width:98px;
	height:98px;
	background: url('img/Top%20Nav/home_down_d.png') no-repeat;
}

#homeButton:hover {
	background: url('img/Top%20Nav/home_up_d.png') no-repeat;
}

#storyButton{
	width:98px;
	height:98px;
	background: url('img/KGAP_home_button.png') no-repeat;
}

#storyButton:hover {
	background: url('img/KGAP_home_button_hover.png') no-repeat;
}

#playButton{
	width:98px;
	height:98px;
	background: url('img/Top%20Nav/play_down_d.png') no-repeat;
}

#playButton:hover {
	background: url('img/Top%20Nav/play_up_d.png') no-repeat;
}

#makeButton{
	width:98px;
	height:98px;
	background: url('img/Top%20Nav/make_down_d.png') no-repeat;
}

#makeButton:hover {
	background: url('img/Top%20Nav/make_up_d.png') no-repeat;
}

#factsButton{
	width:98px;
	height:98px;
	background: url('img/Top%20Nav/facts_down_d.png') no-repeat;
}

#factsButton:hover {
	background: url('img/Top%20Nav/facts_up_d.png') no-repeat;
}

#grownupsButton{
	width:98px;
	height:98px;
	background: url('img/Top%20Nav/adults_down_d.png') no-repeat;
}

#grownupsButton:hover {
	background: url('img/Top%20Nav/adults_up_d.png') no-repeat;
}


/* Smaller --------------------------------------- */
@media screen and (max-width : 650px) {
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	width:100%;
}

.logoImage{
	width: 61%;
	max-width: 80%;
	height: auto;
}
.navBolt2 {
	display: none;
}

.subMenu{
	top: 76px;
	width:100%;
}

.topBolts {
	left: 166px;
	top: -28px;
	position: relative;
	width: 68%;
	display:none;
}

#topLeftArt {
	position:relative;
	top:-5px;
	display: none;
}

.logoContainer {
	text-align: center;
	position: relative;
	left: -21px;
}

#topRightArt {
	position: relative;
	top: -114px;
	float: right;
	display: none;
}

/*navigation*/
#nav {
	height: 176px;
	padding-left:0px !important;
	padding-top: 2px;
	background-image:none;
	width: 100%;
	margin-left: -25px;
}

.navLeftNotch {
	display:none;
}

.navRightNotch {
	display:none;
}
	

#nav ul {
	margin: 7% 0% 0% 0%;
}

#nav ul li a {
	-webkit-user-select: none;
	font-size: 1em;
}

#nav ul li {
	float: left;
	margin: 0 0;
	height: 75px;
	}
	
	#nav ul  li.home {
		width: 33%;
		text-align: left;
		margin-top: 0px;
	}
	#nav ul  li.story {
		width: 33%;
		text-align: center;
		margin-top: 0px;
	}
	#nav ul  li.play {
		width: 33%;
		text-align: right;
		margin-top: 0px;
	}
	#nav ul  li.make {
		width: 33%;
		text-align: left;
		margin-top: 0px;
	}
	#nav ul  li.facts {
		width: 33%;
		text-align: center;
		margin-top: 0px;
	}
	#nav ul  li.grownups {
		width: 33%;
		text-align: right;
		margin-top: 0px;
	}

	#homeButton{
		width:85px;
		height:78px;
		background: url('img/Top%20Nav/home_down_m.png') no-repeat;
	}

	#homeButton:hover {
		background: url('img/Top%20Nav/home_up_m.png') no-repeat;
	}

	#storyButton{
		width:85px;
		height:78px;
		background: url('img/Top%20Nav/story_down_m.png') no-repeat;
	}

	#storyButton:hover {
		background: url('img/Top%20Nav/story_up_m.png') no-repeat;
	}

	#playButton{
		width:85px;
		height:78px;
		background: url('img/Top%20Nav/play_down_m.png') no-repeat;
	}

	#playButton:hover {
		background: url('img/Top%20Nav/play_up_m.png') no-repeat;
	}

	#makeButton{
		width:85px;
		height:78px;
		background: url('img/Top%20Nav/make_up_m.png') no-repeat;
	}

	#makeButton:hover {
		background: url('img/Top%20Nav/make_down_m.png') no-repeat;
	}

	#factsButton{
		width:85px;
		height:78px;
		background: url('img/Top%20Nav/facts_down_m.png') no-repeat;
	}

	#factsButton:hover {
		background: url('img/Top%20Nav/facts_up_m.png') no-repeat;
	}

	#grownupsButton{
		width:85px;
		height:78px;
		background: url('img/Top%20Nav/adults_up_m.png') no-repeat;
	}

	#grownupsButton:hover {
		background: url('img/Top%20Nav/adults_down_m.png') no-repeat;
	}

	#intro, #about {
		display: none;
	}

	.storyButton {
		margin-top: 129px;
	}
	
	#copyright {
		position: static;
		left: 0px;
		bottom: 0px;
		height: 60px;
		width: 100%;
		background: #999;
		text-align: center;
		z-index: 12;
		float:left;
	}
	
	
	.mainWrapper {
		width: 100%;
		margin: auto;
	}

	.leftSidebar{
		display:none;
	}
	
	.rightSidebar{
		display: none;
	}
	
	.characterImg {
		display: none;
	}

	.machineImg {
		display: none;
	}

}

