
/* This is the selector i used for my menu, it needs to be set as position:absolute; */
.subMenu {
	position: absolute;
	top: 84px;
	z-index: 1001 !important;
	width: 100%;
	background-color: #838c75;
	-webkit-box-shadow: 0px 3px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 3px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 3px 5px rgba(50, 50, 50, 0.75);
}

#menuFix {
	height: 100px;
	margin-top: -24px;
}

.offleft {
  margin-left: -9000px;
  position: absolute;
}

#opener{
	width: 77%;
	height: 100%;
	background: none;
	border:none;
}

#opener2{
	width: 77%;
	height: 100%;
	background: none;
	border:none;
}

.ui-dialog{
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: none;
    overflow: auto;
    background-color: #ffd;
    border: solid 1px #ea7;
	width:75% !important;
	height:60% !important;
	margin:auto;
	z-index: 2001;
}

.ui-widget-content{
    border:none;
}

.ui-widget-overlay{
	opacity: .90 !important; /* Make sure to change both of these, as IE only sees the second one */
	filter: Alpha(Opacity=50) !important;

	background-color: rgb(50, 50, 50) !important; /* This will make it darker */
	z-index:2000;
	position:fixed !important;
}

.ui-dialog .ui-dialog-content {
	width: auto !important;
	min-height: 45% !important;
	max-height: 28% !important;
}

/* ------------SECTIONS------------ */
#topLeftArt {
	position:relative;
	top:-5px;
}

#logoContainer { 
	text-align: center;
	position: relative;
	left: -216px;
}

.logoImage{
	width: 23%;
	height: auto;
	margin-top: 11px;	
}

#topMobileMenuBar{
	display:none;
}

.topBolts {
	left: 191px;
	top: -28px;
	position: relative;
}

#topRightArt {
	position: relative;
	top: -69px;
	float: right;
}

#topRightArt img {
	float: right;
}

.homeButton {
	padding: 5px 0px 0px 0px;
	background: #00adef url('img/Header_Blue.png') no-repeat;
	background-position:48% 7%; 
	height: 73px;
}

.backButton {
	padding: 5px 0px 0px 0px;
	background: #00adef url('img/Header_Blue.png') no-repeat;
	background-position:48% 7%; 
	height: 73px;
}

.mainButton {
	min-height: 806px;
	background-color: #fbee3c;
	margin-top: 101px;
	text-align: center;
	position:relative;
}

#mobileTextBox {
	display:none;
}

.mainButton p {
	display:none;
}

.storyButton {
	min-height: 544px;
	background-color: #f9cc3e;
	-webkit-box-shadow: 0px -1px 30px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 30px -3px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 30px -3px rgba(0,0,0,0.75);
	position:relative;
	z-index:100;
}

.storySectionEtching{
	float: none;
	display: block;
	margin: auto;
	padding: 109px;
	position:relative;
}

.playButton {
	min-height: 756px;
	background: #fbee3d;
	padding-top: 7px;
	position:relative;
}

.makeButton {
	min-height: 506px;
	background-color: #f9cc3e;
	-webkit-box-shadow: 0px -1px 30px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 30px -3px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 30px -3px rgba(0,0,0,0.75);
	margin-bottom: 173px;
	position:relative;
}

.factsButton {
	min-height: 540px;
	background-color: #f9cc3e;
	color: white;
	margin-top: 27px;
	-webkit-box-shadow: 0px -1px 30px -3px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px -1px 30px -3px rgba(0,0,0,0.75);
	box-shadow: 0px -1px 30px -3px rgba(0,0,0,0.75);
	margin-bottom: 60px;
	position:relative;
}

.adultsButton {
	min-height: 500px;
	background: #fbee3d;
	color: white;
}

#facts1image img{
	text-align:center;
	display: block;
	padding-top: 26px;
}

#facts1text {
	/*border:10px solid black;*/
	font-size:.9em;
	margin-top:10px;
}

/* ---------GLOBAL--------------- */
body {
	font-family: 'Nunito', sans-serif;
	font-weight: 100;
	font-size: 1.125em;
	/*color: #faf3bc;*/
}

a {
	color: #000;
	text-decoration: none;
}

img, object {
	max-width: 100%;
}

/* -------TYPOGRAPHY----------- */
h1 {
	font-size: 1.750em;
	font-weight: 100;
	letter-spacing: -1.5px;
}

h2 {
	font-weight: 100;
	font-size: 1.500em;
	color: #b4c34f;
}

h3 {
	font-weight: 100;
	font-size: 1.125em;
	color: #ed6c85;
}

/* -------BUTTONS------------- */
#nav {
	height: 121px;
	margin-top: -11px;
	background: #00adef url('img/Header_metal.png') no-repeat;
	background-position: 0% 100%;
	background-size: 100% 73%;
	width: 100%;
	
}

#thirtynav {
	height: 75px;
	margin-top: -11px;
	background: #00adef url('img/Header_metal_story.png') no-repeat;
	background-position: 0% 100%;
	background-size: 100% auto;
	width: 100%;
	
}	

#nav ul {
	width: 53%;
	margin: auto;
	height: 118px;
	list-style: none;
	float: none;
	text-align: center;
}

#nav ul li {
	float: left;
}
	#nav ul li.home {
		width: 16%;
		margin-top: 15px;
	}
	#nav ul li.story {
		width: 16%;
		margin-top: 15px;
	}
	#nav ul li.play {
		width: 16%;
		margin-top: 15px;
	}
	#nav ul li.make {
		width: 16%;
		margin-top: 15px;
	}
	#nav ul li.facts {
		width: 16%;
		margin-top: 15px;
	}
	#nav ul li.adults {
		width: 16%;
		margin-top: 15px;
	}

#nav ul li a {
	display: block;
	text-decoration: none;
}

#homeButton{
	width:98px;
	height:98px;
	color: white;
	background: url('img/Top%20Nav/home_down_d.png') no-repeat;
}

#homeButton:hover{
	background: url('img/Top%20Nav/home_up_d.png') no-repeat;
}

#homeButton.active {
	background: url('img/Top%20Nav/home_up_d.png') no-repeat !important;
	/*color: black;*/
}

#storyButton{
	width:98px;
	height:98px;
	background: url('img/Top%20Nav/story_down_d.png') no-repeat;
}

#storyButton:hover {
	background: url('img/Top%20Nav/story_up_d.png') no-repeat;
}

#storyButton.active {
	background: url('img/Top%20Nav/story_up_d.png') no-repeat;
}

#playButton{
	width:98px;
	height:98px;
	background: url('img/Top%20Nav/play_down_d.png') no-repeat;
}

#playButton:hover {
	background: url('img/Top%20Nav/play_up_d.png') no-repeat;
}

#playButton.active {
	background: url('img/Top%20Nav/play_up_d.png') no-repeat;
}

#makeButton{
	width:98px;
	height:98px;
	background: url('img/Top%20Nav/make_down_d.png') no-repeat;
}

#makeButton:hover {
	background: url('img/Top%20Nav/make_up_d.png') no-repeat;
}

#makeButton.active {
	background: url('img/Top%20Nav/make_up_d.png') no-repeat;
}

#factsButton{
	width:98px;
	height:98px;
	background: url('img/Top%20Nav/facts_down_d.png') no-repeat;
}

#factsButton:hover {
	background: url('img/Top%20Nav/facts_up_d.png') no-repeat;
}

#factsButton.active {
	background: url('img/Top%20Nav/facts_up_d.png') no-repeat;
}

#adultsButton{
	width:98px;
	height:98px;
	background: url('img/Top%20Nav/adults_down_d.png') no-repeat;
}

#adultsButton:hover {
	background: url('img/Top%20Nav/adults_up_d.png') no-repeat;
}

#adultsButton.active {
	background: url('img/Top%20Nav/adults_up_d.png') no-repeat;
}	

/* ----------CONTENT------------- */

#intro {
	margin: 0 0 5% 0;
}

#logo {
	text-align:center;
}

.logoImage{
	height: auto;
	margin-top: 3px;
	margin-left: 69px;
	transition:width 2s, height 2s, transform 1s;
	-webkit-transition:width 0s, height 0s, -webkit-transform 1s; /* Safari */
}

.logoImage:hover{
	transform:rotate(360deg);
	-webkit-transform:rotateX(360deg); /* Safari */
}

.clear {
	clear: both;
}

.leftSidebar {
	width: 5%;
	float: left;
	background-color: #838c75;
	height: 4800px;
	background: #838c75 url('img/wrapper_notches_left.png') repeat-y;
	background-position: 0% 3%;
	top: 97px;
	bottom:0px;
	z-index: 1000;
	overflow:hidden;
	 
}

.mainWrapper {
	width: 90%;
	margin: auto;
	background-color: #fbee3c;
	background-repeat:repeat;
	background: #fbee3c url('img/background_gears.png') repeat-y fixed;
	background-size: 115% auto;
	background-position: center;
	
}

.rightSidebar {
	width: 5%;
	float: right;
	background-color: #838c75;
	background: #838c75 url('img/wrapper_notches_right.png') repeat-y;
	right: 0px;
	top: 77px;
	bottom:0px;
	z-index: 1000;
	background-position: 100% 3%;
	position: absolute;
	overflow:hidden;
}

.section {
	width: 100%;
	position: relative;
	
}

#contentContainer{
	height: 965px;
}

#name1_box, #name2_box, #name3_box, #name4_box, #name5_box, #name6_box{
	text-align: center;
	margin-bottom:0px;
	margin-top:0px;
	width: 255px;
	height: 261px;
	margin-left: 8%;
	cursor:pointer;
}

#name1_box, #name2_box, #name3_box, #name4_box, #name5_box, #name6_box{
	text-align: center;
	margin-bottom:0px;
	margin-top:0px;
	width: 255px;
	height: 261px;
	margin-left: 8%;
	cursor:pointer;
}

#thirty_story_title_box{
	width: 33.3%;
	height: 231px;
	cursor:pointer;
	text-align: center;
	margin-top: 1%;
}

#name1_box, #name2_box, #name3_box{
	margin-top:20px;
}

#name1_box img, #name2_box img, #name3_box img, #name4_box img, #name5_box img, #name6_box img{
	height: auto;
	position:relative;
	
}

#name1_box{
	background: url('img/Home Character Buttons/home_d_3030.png') no-repeat;
	background-size: 90%;
	background-position: center;
}

#name1_box:hover{
	background: url('img/Home Character Buttons/home_d_3030_active.png') no-repeat;
	background-size: 90%;
	background-position: center;
}

#name2_box{
	background: url('img/Home Character Buttons/home_d_tinkermeister.png') no-repeat;
	background-size: 90%;
	background-position: center;
}

#name2_box:hover{
	background: url('img/Home Character Buttons/home_d_tinkermeister_active.png') no-repeat;
	background-size: 90%;
	background-position: center;
}

#name3_box{
	background: url('img/Home Character Buttons/home_d_oaktree.png') no-repeat;
	background-size: 90%;
	background-position: center;
}

#name3_box:hover{
	background: url('img/Home Character Buttons/home_d_oaktree_active.png') no-repeat;
	background-size: 90%;
	background-position: center;
}

#name4_box{
	background: url('img/Home Character Buttons/home_d_comingsoon.png') no-repeat;
	background-size: 90%;
	background-position: center;
}

#name4_box:hover{
		background: url('img/Home Character Buttons/home_d_comingsoon.png') no-repeat;
	background-size: 90%;
	background-position: center;
}

#name4_box h2{
	position: absolute;
	top: 50%;
	left: 12%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
	width: 15%;
	font-size: 2em;
	line-height: 34px;
}

#name5_box{
	background: url('img/Home Character Buttons/home_d_megatruck.png') no-repeat;
	background-size: 90%;
	background-position: center;
}

#name5_box:hover{
	background: url('img/Home Character Buttons/home_d_megatruck_active.png') no-repeat;
	background-size: 90%;
	background-position: center;
}

#name6_box{
	background: url('img/Home Character Buttons/home_d_comingsoon.png') no-repeat;
	background-size: 90%;
	background-position: center;
}

#name6_box:hover{
	background: url('img/Home Character Buttons/home_d_comingsoon.png') no-repeat;
	background-size: 90%;
	background-position: center;
}

#name6_box h2{
	position: absolute;
	top: 50%;
	right: 12%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
	width: 15%;
	font-size: 2em;
	line-height: 34px;
}

#name1_story_box, #name2_story_box, #name3_story_box, #name4_story_box, #name5_story_box, #name6_story_box{
	text-align: center;
	margin-top:1%;
	position: relative;
}

#name1_story_box img, #name2_story_box img, #name3_story_box img, #name4_story_box img, #name5_story_box img, #name6_story_box img{
	position:relative;
}

#name1_story_box{
	background: url('img/Sub_Story/sub_story_d_30_30.png') no-repeat;
	background-position: center;
	width: 33.3%;
	height: 231px;
	cursor:pointer;
}

#name1_story_box:hover{
	background: url('img/Sub_Story/sub_story_d_30_30_active.png') no-repeat;
	background-position: center;
	color:black;
}

#name1_story_box h2{
	position: absolute;
	top: 78%;
	left: 23%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#name1_story_box_story{
	background: url('img/Sub_Story/sub_story_d_30_30.png') no-repeat;
	background-position: center;
	width: 33.3%;
	height: 231px;
	cursor:pointer;
	margin-top: 2%;
}

#name1_story_box_story:hover{
	background: url('img/Sub_Story/sub_story_d_30_30_active.png') no-repeat;
	background-position: center;
	color:black;
}

#name1_story_box_story h2{
	position: absolute;
	top: 78%;
	left: 23%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#name2_story_box{
	background: url('img/Sub_Story/sub_story_d_oak_tree_new.png') no-repeat;
	background-position: center;
	width: 33.3%;
	height: 231px;
	cursor:pointer;
}

#name2_story_box:hover{
	background: url('img/Sub_Story/sub_story_d_oak_tree_active.png') no-repeat;
	background-position: center;
	color:black;
}

#name2_story_box h2{
	position: absolute;
	top: 78%;
	left: 18%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#name3_story_box{
	background: url('img/Sub_Story/sub_story_d_tinkermeister.png') no-repeat;
	background-position: center;
	width: 33.3%;
	height: 231px;
	cursor:pointer;
}

#name3_story_box:hover{
	background: url('img/Sub_Story/sub_story_d_tinkermeister_active.png') no-repeat;
	background-position: center;
	color:black;
}

#name3_story_box h2{
	position: absolute;
	top: 77%;
	right: 10%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
	width: 76%;
	font-size: 1em;
}

#name4_story_box h2{
	position: absolute;
	top: 84%;
	left: 8%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#name5_story_box{
	background: url('img/Sub_Story/sub_story_d_megatrack.png') no-repeat;
	background-position: center;
	width: 33.3%;
	height: 231px;
	cursor:pointer;
}

#name5_story_box:hover{
	background: url('img/Sub_Story/sub_story_d_megatrack_active.png') no-repeat;
	background-position: center;
	color:black;
}

#name5_story_box h2{
	position: absolute;
	top: 78%;
	left: 21%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#name6_story_box h2{
	position: absolute;
	top: 84%;
	right: 8%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#name1_play_box, #name2_play_box, #name3_play_box, #name4_play_box, #name5_play_box, #name6_play_box{
	text-align: center;
	margin-top:1%;
	position: relative;
}

#name1_play_box img, #name2_play_box img, #name3_play_box img, #name4_play_box img, #name5_play_box img, #name6_play_box img{
	position:relative;
}

#name1_play_box{
	background: url('img/Sub_Play/sub_play_d_30_30.png') no-repeat;
	background-position: center;
	width: 33.3%;
	height: 231px;
	cursor:pointer;
}

#name1_play_box:hover{
	background: url('img/Sub_Play/sub_play_d_30_30_active.png') no-repeat;
	background-position: center;
	color:black;
}

#name1_play_box h2{
	position: absolute;
	top: 77%;
	left: 23%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
	font-size: 1.4em;
}

#name1_play_box_story{
	background: url('img/Sub_Play/sub_play_d_30_30.png') no-repeat;
	background-position: center;
	width: 33.3%;
	height: 231px;
	cursor:pointer;
	margin-top: 2%;
}

#name1_play_box_story:hover{
	background: url('img/Sub_Play/sub_play_d_30_30_active.png') no-repeat;
	background-position: center;
	color:black;
}

#name1_play_box_story h2{
	position: absolute;
	top: 77%;
	left: 23%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
	font-size: 1.4em;
}

#name2_play_box{
	background: url('img/Sub_Play/sub_play_d_oaktree.png') no-repeat;
	background-position: center;
	width: 33.3%;
	height: 231px;
	cursor:pointer;
}

#name2_play_box:hover{
	background: url('img/Sub_Play/sub_play_d_oaktree_active.png') no-repeat;
	background-position: center;
	color:black;
}

#name2_play_box h2{
	position: absolute;
	top: 77%;
	left: 18%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
	font-size: 1.4em;
}

#name3_play_box{
	background: url('img/Sub_Play/sub_play_d_tinkermeister.png') no-repeat;
	background-position: center;
	width: 33.3%;
	height: 231px;
	cursor:pointer;
}

#name3_play_box:hover{
	background: url('img/Sub_Play/sub_play_d_tinkermeister_active.png') no-repeat;
	background-position: center;
	color:black;
}

#name3_play_box h2{
	position: absolute;
	top: 77%;
	right: 17%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
	font-size: 1.4em;
}

#name4_play_box h2{
	position: absolute;
	top: 84%;
	left: 8%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#name5_play_box{
	background: url('img/Sub_Play/sub_play_d_megatrack.png') no-repeat;
	background-position: center;
	width: 33.3%;
	height: 231px;
	cursor:pointer;
}

#name5_play_box:hover{
	background: url('img/Sub_Play/sub_play_d_megatrack_active.png') no-repeat;
	background-position: center;
	color:black;
}

#name5_play_box h2{
	position: absolute;
	top: 78%;
	left: 20%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
	font-size: 1.4em;
}

#name6_play_box h2{
	position: absolute;
	top: 84%;
	right: 8%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#name1_make_box, #name2_make_box, #name3_make_box, #name4_make_box, #name5_make_box, #name6_make_box{
	text-align: center;
	margin-top:1%;
	position: relative;
}

#name1_make_box img, #name2_make_box img, #name3_make_box img, #name4_make_box img, #name5_make_box img, #name6_make_box img{
	position:relative;
}

#name1_make_box{
	background: url('img/Sub_Make/sub_make_d_3030.png') no-repeat;
	background-position: center;
	width: 33.3%;
	height: 231px;
	cursor:pointer;
}

#name1_make_box:hover{
	background: url('img/Sub_Make/sub_make_d_3030_active.png') no-repeat;
	background-position: center;
	color:black;
}

#name1_make_box h2{
	position: absolute;
	top: 77%;
	left: 15%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
	font-size: 1em;
}

#name2_make_box{
	background: url('img/Sub_Make/sub_make_d_oaktree.png') no-repeat;
	background-position: center;
	width: 33.3%;
	height: 231px;
	cursor:pointer;
}

#name2_make_box:hover{
	background: url('img/Sub_Make/sub_make_d_oaktree_active.png') no-repeat;
	background-position: center;
	color:black;
}

#name2_make_box h2{
	position: absolute;
	top: 77%;
	left: 18%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
	font-size: 1em;
}

#name3_make_box{
	background: url('img/Sub_Make/sub_make_d_tinkermeister.png') no-repeat;
	background-position: center;
	width: 33.3%;
	height: 231px;
	cursor:pointer;
}

#name3_make_box:hover{
	background: url('img/Sub_Make/sub_make_d_tinkermeister_active.png') no-repeat;
	background-position: center;
	color:black;
}

#name3_make_box h2{
	position: absolute;
	top: 77%;
	right: 15%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
	font-size: 1em;
}

#name1_facts_box, #name2_facts_box, #name3_facts_box, #name4_facts_box, #name5_facts_box, #name6_facts_box{
	text-align: center;
	margin-top:1%;
	position: relative;
}

#name1_facts_box img, #name2_facts_box img, #name3_facts_box img, #name4_facts_box img, #name5_facts_box img, #name6_facts_box img{
	position:relative;
}

#name1_facts_box{
	background: url('img/Facts/facts_d_3030.png') no-repeat;
	background-position: center;
	width: 33.3%;
	height: 231px;
	cursor:pointer;
}

#name1_facts_box:hover{
	background: url('img/Facts/facts_d_3030_active.png') no-repeat;
	background-position: center;
	color:black;
}

#name1_facts_box h2{
	position: absolute;
	top: 80%;
	left: 23%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#name1_facts_box_story{
	background: url('img/Sub_Facts/sub_facts_d_3030.png') no-repeat;
	background-position: center;
	width: 33.3%;
	height: 231px;
	cursor:pointer;
	margin-top:1%;
}

#name1_facts_box_story:hover{
	background: url('img/Sub_Facts/sub_facts_d_3030_active.png') no-repeat;
	background-position: center;
	color:black;
}

#name1_facts_box_story h2{
	position: absolute;
	top: 12.1%;
	left: 42%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#name2_facts_box{
	background: url('img/Facts/facts_d_oaktree.png') no-repeat;
	background-position: center;
	width: 33.3%;
	height: 231px;
	cursor:pointer;
}

#name2_facts_box:hover{
	background: url('img/Facts/facts_d_oaktree_active.png') no-repeat;
	background-position: center;
	color:black;
}

#name2_facts_box h2{
	position: absolute;
	top: 80%;
	left: 19%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#name3_facts_box{
	background: url('img/Facts/facts_d_tinkemeister.png') no-repeat;
	background-position: center;
	width: 33.3%;
	height: 231px;
	cursor:pointer;
}

#name3_facts_box:hover{
	background: url('img/Facts/facts_d_tinkemeister_active.png') no-repeat;
	background-position: center;
	color:black;
}

#name3_facts_box h2{
	position: absolute;
	top: 80%;
	right: 23%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#name4_facts_box{
	background: url('img/Facts/facts_d_empty_brightyellow.png') no-repeat;
	background-position: center;
	width: 33.3%;
	height: 231px;
	cursor:pointer;
}

#name4_facts_box h2{
	position: absolute;
	top: 84%;
	left: 8%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#name5_facts_box{
	background: url('img/Facts/facts_d_megatrack.png') no-repeat;
	background-position: center;
	width: 33.3%;
	height: 231px;
	cursor:pointer;
}

#name5_facts_box:hover{
	background: url('img/Facts/facts_d_megatrack_active.png') no-repeat;
	background-position: center;
	color:black;
}

#name5_facts_box h2{
	position: absolute;
	top: 78%;
	left: 20%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#name6_facts_box h2{
	position: absolute;
	top: 84%;
	right: 8%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#box1, #box2, #box3, #box4, #box5, #box6{
	text-align:center;
	height: 300px;
	border: 1px solid black;
}

#copyright {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 75px;
	width: 100%; 
	text-align: center;
	z-index: 1000;
	background: #f16022 url('img/footer_etching.png') no-repeat;
	background-position: center;
	background-size: 77%;
	
}

.characterImg {
	position: fixed;
	bottom: 71px;
}

.machineImg {
	position: fixed;
	bottom: -10px;
	right: 0px;
}

.contestImg{
	float:left;
}

.socialButtons{
	position: fixed;
	bottom: 7px;
	right: 11px;
}

.fbicon{
	padding-bottom:9px;
}

.bottomMenu{
	margin-left:270px;
	padding-top:6px;	
}

.bottomMenu a {
	color: white !important;
	text-decoration:none;
	text-shadow: none;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size:1em; 
}

.bottomMenu a:hover {
	color: #fbee3d !important;
	text-decoration:none;
	text-shadow: none;
	font-family: Arial, Helvetica, Tahoma, sans-serif;
	font-size:1em; 
}

.bottomMenu li{
	margin-left: 37px;
	list-style-type: circle;
	float: left;
	color: white;
}

.bottomMenu li:first-child{
	list-style-type:none;
}

/* ----------------------------MEDIA QUERIES---------------------------- */

/* Larger --------------------------------------- */
@media only screen and (min-width : 1667px) {
	.homeButton{
	}
	
	.logoImage{
		width: 18%;
		margin-left: 130px;
	}
	
	#name1_box, #name2_box, #name3_box, #name4_box, #name5_box, #name6_box{
		width: 22%;
		background-size: 60%;
	}
}

@media screen and (max-width: 1024px) {

	.logoImage{
		height: auto;
		margin-top: 2px;
		margin-left: 30px;
		width: 29%;
	}

	#topLeftArt {
		position:relative;
		top:-5px;
	}
	
	#topLeftArt img{
		width:26%;
		height:auto;
	}

	#logoContainer {
		text-align: center;
		position: relative;
		left: -171px;
	}

	.topBolts {
		left: 166px;
		top: -28px;
		position: relative;
		width: 68%;
	}

	#topRightArt {
		position: relative;
		top: -70px;
		float: right;
	}
	
	#topRightArt img{
		width:26%;
		height:auto;
	}

	/*navigation*/
	#nav {
		padding-left: 154px;
		color: #838c75;
	}
	#nav ul {
		margin: 0 0 0 70px;
	}
	
	.navBolt1 {
		top: 88px;
		left: -142px;
	}
	
	.navBolt2 {
		top: -30px;
		right: 726px;
	}

	.navLeftNotch {
		left: -154px;
		top: 31px;
		position: relative;
		float: left;
	}

	.navRightNotch {
		float: right;
		position: relative;
		top: -81px;
		right: 0px;
	}
	
	.mainButton h2 {
		display:none;
	}

	#nav ul li {
	float: left;
	margin: 0% 0 0 0;
	}
	#nav ul li.home {
		width: 16.5%;
	}
	#nav ul li.story {
		width: 16.5%;
	}
	#nav ul li.play {
		width: 16.5%;
	}
	#nav ul li.make {
		width: 16.5%;
	}
	#nav ul li.facts {
		width: 16.5%;
	}
	#nav ul li.adults {
		width: 16.5%;
	}

	.bottomMenu{
		margin-left: 124px;
	}
	
	#name1_box, #name2_box, #name3_box, #name4_box, #name5_box, #name6_box{
		text-align: center;
		margin-bottom: 0px;
		margin-top: 0px;
		width: 29%;
		height: 297px;
		margin-left: 3%;
	}
	
	#opener{
		width: 96%;
		height: 100%;
		background: none;
		border: none;
	}

	#opener2{
		width: 77%;
		height: 100%;
		background: none;
	}
	
	#name1_story_box, #name2_story_box, #name3_story_box, #name4_story_box, #name5_story_box, #name6_story_box{
		text-align: center;
		margin-top:1%;
	}

	#name1_story_box img, #name2_story_box img, #name3_story_box img, #name4_story_box img, #name5_story_box img, #name6_story_box img{
		position:relative;
	}

	#name1_story_box{
		background: url('img/Sub_Story/sub_story_d_30_30.png') no-repeat;
		background-position: center;
		width: 33.3%;
		height: 231px;
		cursor:pointer;
	}

	#name1_story_box:hover{
		background: url('img/Sub_Story/sub_story_d_30_30_active.png') no-repeat;
		background-position: center;
		color:black;
	}

	#name1_story_box h2{
		position: absolute;
		top: 35%;
		left: 6%;
		font-family: 'Paytone One', sans-serif;
		color: white;
		text-shadow: none;
	}

	#name2_story_box{
		background: url('img/Sub_Story/sub_story_d_oak_tree_new.png') no-repeat;
		background-position: center;
		width: 33.3%;
		height: 231px;
		cursor:pointer;
	}

	#name2_story_box:hover{
		background: url('img/Sub_Story/sub_story_d_oak_tree_active.png') no-repeat;
		background-position: center;
		color:black;
	}

	#name2_story_box h2{
		position: absolute;
		top: 35%;
		left: 37%;
		font-family: 'Paytone One', sans-serif;
		color: white;
		text-shadow: none;
	}

	#name3_story_box{
		background: url('img/Sub_Story/sub_story_d_tinkermeister.png') no-repeat;
		background-position: center;
		width: 33.3%;
		height: 231px;
		cursor:pointer;
	}

	#name3_story_box:hover{
		background: url('img/Sub_Story/sub_story_d_tinkermeister_active.png') no-repeat;
		background-position: center;
		color:black;
	}

	#name3_story_box h2{
		position: absolute;
		top: 35%;
		right: 6%;
		font-family: 'Paytone One', sans-serif;
		color: white;
		text-shadow: none;
	}

	#name4_story_box h2{
		position: absolute;
		top: 84%;
		left: 8%;
		font-family: 'Paytone One', sans-serif;
		color: white;
		text-shadow: none;
	}

	#name5_story_box{
		background: url('img/Sub_Story/sub_story_d_megatrack.png') no-repeat;
		background-position: center;
		width: 33.3%;
		height: 231px;
		cursor:pointer;
	}

	#name5_story_box:hover{
		background: url('img/Sub_Story/sub_story_d_megatrack_active.png') no-repeat;
		background-position: center;
		color:black;
	}

	#name5_story_box h2{
		position: absolute;
		top: 78%;
		left: 37%;
		font-family: 'Paytone One', sans-serif;
		color: white;
		text-shadow: none;
	}

	#name6_story_box h2{
		position: absolute;
		top: 84%;
		right: 8%;
		font-family: 'Paytone One', sans-serif;
		color: white;
		text-shadow: none;
	}
	
	#name1_play_box, #name2_play_box, #name3_play_box, #name4_play_box, #name5_play_box, #name6_play_box{
		text-align: center;
		margin-top:1%;
	}

	#name1_play_box img, #name2_play_box img, #name3_play_box img, #name4_play_box img, #name5_play_box img, #name6_play_box img{
		position:relative;
	}

	#name1_play_box{
		background: url('img/Sub_Play/sub_play_d_30_30.png') no-repeat;
		background-position: center;
		width: 33.3%;
		height: 231px;
		cursor:pointer;
	}

	#name1_play_box:hover{
		background: url('img/Sub_Play/sub_play_d_30_30_active.png') no-repeat;
		background-position: center;
		color:black;
	}

	#name1_play_box h2{
		position: absolute;
		top: 35%;
		left: 6%;
		font-family: 'Paytone One', sans-serif;
		color: white;
		text-shadow: none;
	}

	#name2_play_box{
		background: url('img/Sub_Play/sub_play_d_oaktree.png') no-repeat;
		background-position: center;
		width: 33.3%;
		height: 231px;
		cursor:pointer;
	}

	#name2_play_box:hover{
		background: url('img/Sub_Play/sub_play_d_oaktree_active.png') no-repeat;
		background-position: center;
		color:black;
	}

	#name2_play_box h2{
		position: absolute;
		top: 35%;
		left: 37%;
		font-family: 'Paytone One', sans-serif;
		color: white;
		text-shadow: none;
	}

	#name3_play_box{
		background: url('img/Sub_Play/sub_play_d_tinkermeister.png') no-repeat;
		background-position: center;
		width: 33.3%;
		height: 231px;
		cursor:pointer;
	}

	#name3_play_box:hover{
		background: url('img/Sub_Play/sub_play_d_tinkermeister_active.png') no-repeat;
		background-position: center;
		color:black;
	}

	#name3_play_box h2{
		position: absolute;
		top: 35%;
		right: 6%;
		font-family: 'Paytone One', sans-serif;
		color: white;
		text-shadow: none;
	}

	#name4_play_box h2{
		position: absolute;
		top: 84%;
		left: 8%;
		font-family: 'Paytone One', sans-serif;
		color: white;
		text-shadow: none;
	}

	#name5_play_box{
		background: url('img/Sub_Play/sub_play_d_megatrack.png') no-repeat;
		background-position: center;
		width: 33.3%;
		height: 231px;
		cursor:pointer;
	}

	#name5_play_box:hover{
		background: url('img/Sub_Play/sub_play_d_megatrack_active.png') no-repeat;
		background-position: center;
		color:black;
	}

	#name5_play_box h2{
		position: absolute;
		top: 78%;
		left: 37%;
		font-family: 'Paytone One', sans-serif;
		color: white;
		text-shadow: none;
	}

	#name6_play_box h2{
		position: absolute;
		top: 84%;
		right: 8%;
		font-family: 'Paytone One', sans-serif;
		color: white;
		text-shadow: none;
	}

	#homeButton{
		width:98px;
		height:98px;
		background: url('img/Top%20Nav/home_down_d.png') no-repeat;
	}

	#homeButton:hover {
		background: url('img/Top%20Nav/home_up_d.png') no-repeat;
	}

	#storyButton{
		width:98px;
		height:98px;
		background: url('img/Top%20Nav/story_down_d.png') no-repeat;
	}

	#storyButton:hover {
		background: url('img/Top%20Nav/story_up_d.png') no-repeat;
	}

	#playButton{
		width:98px;
		height:98px;
		background: url('img/Top%20Nav/play_down_d.png') no-repeat;
	}

	#playButton:hover {
		background: url('img/Top%20Nav/play_up_d.png') no-repeat;
	}

	#makeButton{
		width:98px;
		height:98px;
		background: url('img/Top%20Nav/make_down_d.png') no-repeat;
	}

	#makeButton:hover {
		background: url('img/Top%20Nav/make_up_d.png') no-repeat;
	}

	#factsButton{
		width:98px;
		height:98px;
		background: url('img/Top%20Nav/facts_down_d.png') no-repeat;
	}

	#factsButton:hover {
		background: url('img/Top%20Nav/facts_up_d.png') no-repeat;
	}

	#adultsButton{
		width:98px;
		height:98px;
		background: url('img/Top%20Nav/adults_down_d.png') no-repeat;
	}

	#adultsButton:hover {
		background: url('img/Top%20Nav/adults_up_d.png') no-repeat;
	}
	
	#copyright {
		background: #f16022;
		
	}

	/*#name1_box, #name2_box, #name3_box, #name4_box, #name5_box, #name6_box{
		height: 250px;
		background:url('img/story_frame.png');
		background-repeat: no-repeat;
		background-position:center; 
	}*/
	
	object {
		display:none;
	}	
}

/* iPads (portrait) ----------- */	
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	
/* Styles */
.logoImage{
	margin-left: -15px;
	width:40%;
	height:auto;
}
	
/*navigation*/
#nav {
	height: 116px;
	padding-left:0px !important;
	padding-top: 2px;
	width: 100%;
	margin-left: -75px;
	padding-right:80px;
}

.navBolt2 {
	display: none;
}

.topBolts {
	display:none;
}

#topRightArt {
	position: relative;
	top: -80px;
	float: right;
}

.navRightNotch {
	display:none;
}

#nav ul {
	margin: 0% 0% 0% 20%;
	width:75%;
}

.mainButton {
	min-height: 1500px;
	background-color: #fbee3c;
	margin-top: 111px;
}

#name1_box, #name2_box, #name3_box, #name4_box, #name5_box, #name6_box{
	/*height: 250px;
	background: url('img/story_frame.png');
	background-repeat: no-repeat;
	background-position: center;
	width:45%;
	margin-left:20px;*/
}

.bottomMenu{
	margin-left:0;
	width:80%;
}

.bottomMenu a {
	color: white;
}

.bottomMenu li{
	margin-left: 14px;
	list-style-type: none;
	list-style-position: inside;
	float: left;
	color: white;
	font-size:16px;
}
	
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
    /* styles go here */
	body{
		overflow-x: hidden;
	}
	
	.logoImage{
		width: 40% !important;
		margin-left: -10px;
	}
	
	.topBolts {
		width:100% !important;
	}
	
	#logoContainer {
		background: none !important;
	
	}
	
	#nav{
		height:93px !important;
	}
	
	#nav ul li {
		float: left;
		margin: 0 0;
		height: 68px;
		}
	
		#nav ul  li.home {
			width: 17% !important;
			text-align: left;
			margin-top: 0px;
			margin-left:-9px;
		}
		#nav ul  li.story {
			width: 17% !important;
			text-align: center;
			margin-top: 0px;
		}
		#nav ul  li.play {
			width: 17% !important;
			text-align: right;
			margin-top: 0px;
		}
		#nav ul  li.make {
			width: 17% !important;
			text-align: left;
			margin-top: 0px;
		}
		#nav ul  li.facts {
			width: 17% !important;
			text-align: center;
			margin-top: 0px;
		}
		#nav ul  li.adults {
			width: 17% !important;
			text-align: right;
			margin-top: 0px;
		}
		
	.mainButton {
		margin-top:46px !important;
	}
	
	#mobileTextBox p {
		margin-left:15% !important;
	}
}
	
/* Smaller --------------------------------------- */
@media screen and (max-width : 650px) {

body{
	overflow-x: hidden;
}	
	
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12 {
	width:100%;
}

.homeButton{
	padding-top:58px;
	height: 61px;
	box-shadow: 2px 2px 2px 2px #7c846b;
	background-image:none;
}

.logoImage{
	width: 70%;
	max-width: 80%;
	height: auto;
	margin: 0 0 18px 0;
	padding-top: 6px;
	margin-left: 15px;
}

.navBolt2 {
	display: none;
}

.subMenu{
	display: none;
	
}

.topBolts {
	left: 166px;
	top: -28px;
	position: relative;
	width: 68%;
	display:none;
}

#topLeftArt {
	position:relative;
	top:-5px;
	display: none;
	z-index:2000;
}

.logoContainer {
	text-align: center;
	position: static;
	background: url('img/top_etching_m.png') no-repeat;
	background-position: -5px 30px;
	background-size: 105% auto;	
}

#bottomMainEtching img{
	width: 100%;
	height: auto;
	padding-top: 2%;
}

#topRightArt {
	display:none;
}

/*navigation*/
#nav {
	height: 149px;
	padding-left:0px !important;
	padding-top: 2px;
	background-image:none;
	width: 100%;
	margin-left: -25px;
	padding-right:0px;
}

.navLeftNotch {
	display:none;
}

.navRightNotch {
	display:none;
}

#topMobileMenuBar{
	z-index: 2002 !important;
	height: auto;
	width: 100%;
	position: fixed;
	display: inline !important;
	top: 0px;
	float: none;
	text-align: center;
}

#storyKGAPLogo{
	display:none;
}

#topMobileMenuBar img{
	height: auto;
	width: 100%;
	box-shadow: 5px 5px 5px #888888;
}		

#nav ul {
	margin: 4% 0% 0% 0%;
}

#nav ul li a {
	-webkit-user-select: none;
	font-size: 1em;
}

#nav ul li {
	float: left;
	margin: 0 0;
	height: 68px;
	}
	
	#nav ul  li.home {
		width: 33%;
		text-align: left;
		margin-top: 0px;
	}
	#nav ul  li.story {
		width: 33%;
		text-align: center;
		margin-top: 0px;
	}
	#nav ul  li.play {
		width: 30%;
		text-align: right;
		margin-top: 0px;
	}
	#nav ul  li.make {
		width: 33%;
		text-align: left;
		margin-top: 0px;
	}
	#nav ul  li.facts {
		width: 33%;
		text-align: center;
		margin-top: 0px;
	}
	#nav ul  li.adults {
		width: 30%;
		text-align: right;
		margin-top: 0px;
	}

#name1_box, #name2_box, #name3_box, #name4_box, #name5_box, #name6_box{
	text-align: center;
	margin-bottom:10px;
	margin-top:0px;
	width: 142px;
	height: 172px;
	margin-left:3%;
}

#name2_box img, #name3_box img, #name4_box img, #name5_box img, #name6_box img{
	height: auto;
}

#name1_box{
	background: url('img/Home Character Buttons/home_m_3030.png') no-repeat;
	background-size: 100%;
}

#name1_box:hover{
	background: url('img/Home Character Buttons/home_m_3030_active.png') no-repeat;
	background-size: 100%;
}

#name2_box{
	background: url('img/Home Character Buttons/home_m_tinkermeister.png') no-repeat;
	background-size: 100%;
}

#name2_box:hover{
	background: url('img/Home Character Buttons/home_m_tinkermeister_active.png') no-repeat;
	background-size: 100%;
}

#name3_box{
	background: url('img/Home Character Buttons/home_m_oaktree.png') no-repeat;
	background-size: 100%;
}

#name3_box:hover{
	background: url('img/Home Character Buttons/home_m_oaktree_active.png') no-repeat;
	background-size: 100%;
}

#name4_box{
	background: url('img/Home Character Buttons/home_m_megatruck.png') no-repeat;
	background-size: 100%;
}

#name4_box:hover{
	background: url('img/Home Character Buttons/home_m_megatruck_active.png') no-repeat;
	background-size: 100%;
}

#homeButton{
	width:85px;
	height:78px;
	background: url('img/Top%20Nav/home_down_m.png') no-repeat;
}

#homeButton:hover {
	background: url('img/Top%20Nav/home_up_m.png') no-repeat;
}

#homeButton.active {
	background: url('img/Top%20Nav/home_up_m.png') no-repeat !important;
}

#storyButton{
	width:85px;
	height:78px;
	background: url('img/Top%20Nav/story_down_m.png') no-repeat;
}

#storyButton:hover {
	background: url('img/Top%20Nav/story_up_m.png') no-repeat;
}

#storyButton.active {
	background: url('img/Top%20Nav/story_up_m.png') no-repeat;
}

#playButton{
	width:85px;
	height:78px;
	background: url('img/Top%20Nav/play_down_m.png') no-repeat;
}

#playButton:hover {
	background: url('img/Top%20Nav/play_up_m.png') no-repeat;
}

#playButton.active {
	background: url('img/Top%20Nav/play_up_m.png') no-repeat;
}

#makeButton{
	width:85px;
	height:69px;
	background: url('img/Top%20Nav/make_down_m.png') no-repeat;
}

#makeButton:hover {
	background: url('img/Top%20Nav/make_up_m.png') no-repeat;
}

#makeButton.active {
	background: url('img/Top%20Nav/make_up_m.png') no-repeat;
}

#factsButton{
	width:85px;
	height:69px;
	background: url('img/Top%20Nav/facts_down_m.png') no-repeat;
}

#factsButton:hover {
	background: url('img/Top%20Nav/facts_up_m.png') no-repeat;
}

#factsButton.active {
	background: url('img/Top%20Nav/facts_up_m.png') no-repeat;
}

#adultsButton{
	width:85px;
	height:69px;
	background: url('img/Top%20Nav/adults_down_m.png') no-repeat;
}

#adultsButton:hover {
	background: url('img/Top%20Nav/adults_up_m.png') no-repeat;
}

#adultsButton.active {
	background: url('img/Top%20Nav/adults_up_m.png') no-repeat;
}

#closePanelButton img{
	height: auto;
}

#homePanelButton{
	background:url('img/btn_home_normal.png');
	height:auto;
	margin-bottom: -4px;
}

#homePanelButton:hover{
	background:url('img/btn_home_active.png');
	height:auto;
	margin-bottom: -4px;
}

#storyPanelButton{
	background:url('img/btn_read_normal.png');
	height:auto;
	margin-bottom: -4px;
}

#storyPanelButton:active;{
	background:url('img/btn_read_active.png');
	height:auto;
	margin-bottom: -4px;
}

#playPanelButton{
	background:url('img/btn_play_normal.png');
	height:auto;
	margin-bottom: -4px;
}

#playPanelButton:active{
	background:url('img/btn_play_normal.png');
	height:auto;
	margin-bottom: -4px;
}

#makePanelButton{
	background:url('img/btn_make_normal.png');
	height:auto;
	margin-bottom: -4px;
}

#makePanelButton:active{
	background:url('img/btn_make_normal.png');
	height:auto;
	margin-bottom: -4px;
}

#factsPanelButton{
	background:url('img/btn_facts_normal.png');
	height:auto;
	margin-bottom: -4px;
}

#adultsPanelButton{
	background:url('img/btn_adults_normal.png');
	height:auto;
	margin-bottom: -4px;
}

#intro, #about {
	display: none;
}

.mainButton {
	min-height: 632px;
	background-color: #fbee3c;
	margin-top: 3px;
	text-align: center;
}

#name1_story_box, #name2_story_box, #name3_story_box, #name4_story_box, #name5_story_box, #name6_story_box{
	width:98%;
	margin-top:4%;
}

#name1_story_box img{
	margin-top:60px !important;
}

#name1_story_box img, #name2_story_box img, #name3_story_box img, #name4_story_box img, #name5_story_box img, #name6_story_box img{
	text-align: center;
	margin-bottom:0px;
	margin-top:20px;
	width:98%;
	height:auto;
}

#name1_story_box h2{
	position: absolute;
	top: 12.5%;
	left: 17%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#name2_story_box h2{
	position: absolute;
	top: 28%;
	left: 9%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#name3_story_box h2{
	position: absolute;
	top: 44%;
	right: 20%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#name4_story_box h2{
	position: absolute;
	top: 81%;
	left: 8%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#name5_story_box h2{
	position: absolute;
	top: 61.5%;
	left: 11%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#name6_story_box h2{
	position: absolute;
	top: 81%;
	right: 8%;
	font-family: 'Paytone One', sans-serif;
	color: white;
	text-shadow: none;
}

#topStoryEtching img{
	width: 100%;
	height: auto;
	padding-top: 2%;
	margin-top:11%;
	transform:rotate(180deg);
	-ms-transform:rotate(180deg); /* IE 9 */
	-webkit-transform:rotate(180deg); /* Safari and Chrome */
}

#name1_play_box, #name3_play_box, #name4_play_box, #name5_play_box, #name6_play_box{
	text-align: center;
	margin-bottom:0px;
	margin-top:8px;
	width:100%;
	height:auto;
	padding-left:2px;
}

#name2_play_box {
	margin-top:-15px;
	padding-left:2px;
}

#name1_play_box img, #name2_play_box img, #name3_play_box img, #name4_play_box img, #name5_play_box img, #name6_play_box img{
	width:100%;
	height:auto;
}

#mainMakeDownload{
	text-align:center;
}

#mainMakeDownload img{
	width:100%;
	height:auto;
	margin-top:20%;
}

#mainMakeColoring{
	text-align:center;
}

#mainMakeColoring img{
	width:100%;
	height:auto;
	margin-top:2%;
}

#thirtyMain {
	margin-top: -92px;
	min-height:266px;
	background-color: #ef332e;
}

#thirtyStory {
	background-color:#ef332e;
	text-align:center;
	min-height: 216px;
}

#thirtyStory img{
	width:98%;
	height:auto;
}

#thirtyPlay {
	background-color:#ef332e;
	text-align:center;
}

#thirtyPlay img{
	width:98%;
	height:auto;
}

#oaktreeMain {
	margin-top: -87px;
	min-height:1287px;
	background-color: #29aae1;
}

#tinkermeisterMain {
	margin-top: -93px;
	min-height:224px;
	background-color: #9fcb3a;
}

#tinkermeisterStory {
	background-color:#9fcb3a;
	text-align:center;
	min-height: 216px;
}

#tinkermeisterStory img{
	width:98%;
	height:auto;
}

#tinkermeisterPlay {
	background-color:#9fcb3a;
	text-align:center;
}

#tinkermeisterPlay img{
	width:98%;
	height:auto;
}

#megatrackMain {
	margin-top: -92px;
	min-height:1287px;
	background-color: #fbee3d;
}

.bookTitle img{
	width: 80%;
	height: auto;
	margin-top: 7%;
}

.bookTitle p{
	display:block !important;
	text-align: center;
	margin: auto;
	font-family: 'Helvetica LT Std', Helvetica, Arial, 'Lucida Grande', sans-serif; 
	font-weight: bold;
	font-size:16px;
	padding-top:10px;
	color:#FFF;
}

.storyButton {
	min-height:1547px;
}

.playButton {
	min-height:1547px;
}

#mobileTextBox {
	text-align:center;
	padding-top:5px;
}

#facts1image, #facts2image, #facts3image, #facts4image{
	text-align:center;
}

#facts1image img, #facts2image img, #facts3image img, #facts4image img{
	text-align:center;
	display: block;
	padding-top: 10px;
	width:95%;
	height:auto;
	margin: auto;
}

#mobileTextBox h2 {
	display:inline;
	text-align: center;
	font-family: 'Paytone One', sans-serif;
	font-size:28px;
	color: #ef332e;
}

#mobileTextBox p {
	display:inline;
	text-align: center;
	margin: auto;
	float: left;
	font-family: 'Helvetica LT Std', Helvetica, Arial, 'Lucida Grande', sans-serif; 
	font-weight: bold;
	font-size:16px;
	padding-bottom:10px;
}

#copyright {
	position: static;
	left: 0px;
	bottom: 0px;
	height: 260px;
	width: 100%;
	background: #999;
	text-align: center;
	z-index: 12;
	float:left;
}


.mainWrapper {
	width: 100%;
	margin: auto;
}

.leftSidebar{
	display:none;
}

.rightSidebar{
	display: none;
}

.bottomMenu{
	padding:0;
	margin:0;
}

.characterImg {
	display: none;
}

.machineImg {
	display: none;
}

.socialButtons{
	position:static;
	float:left;
	margin-top:5%;
}

.socialButtons img{
	width:80%;
	height:auto;
	margin:auto;
	text-align:center;
}

.contestImg {
	margin:auto;
	padding-top:10px;
	float:none;
}

.bottomMenu li:first-child{
	list-style-type:circle;
}


}
}



